<h3> &#10148; <a href='{{ "about-the-project" | relURL }}'><u>WHAT DID WE BUILD?</u></a></h3>
<p>We built a full stack application centered around a machine learning model that forecasts crime volume throughout the various neighborhoods in Buffalo, NY, U.S.</p>
<p><a href='{{ "about-the-project" | relURL }}'>Learn more about the project</a></p>

<hr />

<h3> &#10148; <a href='{{ "about-the-project" | relURL }}'><u>WHY DID WE BUILD THIS APPLICATION?</u></a></h3>
<p>We built this to gain professional experience, and we hope that the city of Buffalo finds value in our application to support their daily operations.</p>
<p><a href='{{ "about-the-project" | relURL }}'>Learn more about the project</a></p>

<hr />

<h3> &#10148; <a href='{{ "meet-the-team" | relURL }}'><u>WHO ARE THE ENGINEERS?</u></a></h3>
<p>We are a diverse, global team of data profesionals who connected on LinkedIn and committed to working together to build something rewarding.</p>
<p><a href='{{ "meet-the-team" | relURL }}'>Learn more about the team</a></p>

<hr />

<h3> &#10148; <a href='{{ "post" | relURL }}'><u>HOW DID WE DO IT?</u></a></h3>
<p>We blended our individual expertise in data engineering, machine learning, web development, and software engineering to build a production-grade application.</p>
<p><a href='{{ "post" | relURL }}'>Learn more about our experiences</a></p>
