<h2> &#10148; WHAT IS THE DSSQUAD CRIME PREDICTOR</h2>
<p>The DSSQUAD crime predictor is a software product built to predict the short-term occurrences of crime in different parts of Buffalo city, US.</p>
<p><a href='{{ "about-the-project" | relURL }}'>Learn more</a></p>

<h2> &#10148; WHY WAS THE CRIME PREDICTOR DEVELOPED</h2>
<p>The crime predictor was developed out of the need to curb the numerous occurrences of crime in the Buffalo city, US.</p>
<p><a href='{{ "about-the-project" | relURL }}'>Learn more</a></p>

<h2> &#10148; WHICH TEAM IS BEHIND THE IDEA OF THE PRODUCT</h2>
<p>The crime predictor was built by a diverse, global team of data proffesionals who organized for the experience of engineering an open source, production-grade application powered by data science.</p>
<p><a href='{{ "meet-the-team" | relURL }}'>Learn more</a></p>

<h2> &#10148; HOW DID THE PRODUCT IDEA GO FROM CONCEPT TO REALITY</h2>
<p>The crime predictor is built on the concept of the availability of accurate data which trains a machine learning model for prediction and in turns displays prediction results in the interactive web application</p>
<p><a href='{{ "post" | relURL }}'>Learn more</a></p>
